#OS junk files
[Tt]humbs.db
*.DS_Store

#node
node_modules
npm-debug.log

#VIM
*.swp

#PhpStore
*.idea/*

#SublimeText
*.sublime-workspace
*.sublime-project

#compiled assets
/build-reports
/www/css
/www/js

# remove this line as soon as you move the files over to your own repo
vendor
